{% set base_menu='admin' %}{% set sub_menu='passdb' %}{% extends "layouts/default.html" %}

{% block content %}
<div class="content-center">
    <div class="page-header">
        <h1>Password Databases</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Domain</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            {% for passdb in passdblist %}
            <tr>
                <td><a href="{{ url_for('passdb',passdb=passdb.name) }}">{{ passdb.name }}</a></td>
                <td>{{ passdb.domain }}</td>
                <td><a href="{{ url_for('editpassdb',passdb=passdb.name) }}">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td><a href="{{ url_for('addpassdb') }}" class="btn btn-default">Add</a></td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap4.css">
{% endblock %}

{% block scripts %}
    <script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap4.js"></script>
    <script>
    $(function () {
       $('table').dataTable();
    });
    </script>
{% endblock %}