{% set base_menu='admin' %}{% set sub_menu='server' %}{% extends "layouts/default.html" %}

{% block content %}
    <form method="post">
        <div class="card card-primary card-center">
            <div class="card-header">
                <h3 class="card-title">Add Server</h3>
            </div>
            <div class="card-body">

                <div class="form-group">
                    <label for="name">Server Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Server Name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="ip3">IP_3</label>
                    <input type="text" class="form-control" id="ip3" placeholder="10.255.{3}.{4}" name="ip3">
                </div>
                <div class="form-group">
                    <label for="ip4">IP_4</label>
                    <input type="text" class="form-control" id="ip4" placeholder="10.255.{3}.{4}" name="ip4" required>
                </div>
                <div class="checkbox">
                        <input type="checkbox" class="form-control" id="enabled" name="enabled" data-toggle="toggle" data-on="Enabled" data-off="Disabled" checked>
                </div>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block styles %}

    <link href="/static/plugins/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}
{% block scripts %}

    <script src="/static/plugins/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
<script>

        $("#enabled").bootstrapToggle();
    $("form").validate();
</script>
{% endblock %}
