{% set base_menu='admin' %}{% set sub_menu='events' %}{% extends "layouts/default.html" %}

{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item">
            <a href="{{ url_for('admin') }}">Admin</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('events') }}">Events</a>
        </li>
        <li class="breadcrumb-item active">
            {{ event.name }}
        </li>
    </ol>
{% endblock %}

{% block content %}
<div class="content-center">
    <div class="page-header">
        <h1 style="float:left;margin-top:0px;">{{ event.name }} <small>{{ event.start }}-{{ event.end }}</small></h1>
        <div style="float:right">
            {% if event.current %}
            <span class="label label-success">Running</span>
            {% elif event.end != None %}
            <span class="label label-danger">Completed</span>
            {% else %}
                <span class="label label-warning">Not Started</span>
            {% endif %}
        </div>
        <div style="clear:both;"></div>
    </div>
    <h4>Scoring Data</h4>
    <table class="table">
        <tr>
            <th>Team Name</th>
            <th>Points Earned</th>
            <th>Points Possible</th>
            <th>Uptime</th>
        </tr>
        {% for sd in scoredata %}
        <tr>
            <td>{{sd[0]}}</td>
            <td>{{sd[1]}}</td>
            <td>{{sd[2]}}</td>
            <td>{{sd[3]}}</td>
        </tr>
        {% endfor %}
    </table>
    
</div>
{% endblock %}

