{% set base_menu='injectscore' %}{% extends "layouts/default.html" %}

{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item">
            <a href="{{ url_for('inject_score') }}">Inject Scoring</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('inject_score_event', event=event.id) }}">{{ event.name }}</a>
        </li>
        <li class="breadcrumb-item active">
            <a href="{{ url_for('inject_score_event_inject', event=event.id, inject=inject.id) }}">{{ inject.subject }}</a>
        </li>
        <li class="breadcrumb-item active">
            Edit
        </li>
    </ol>
{% endblock %}

{% block content %}
    <form method="post">
        <div class="card card-primary card-center" style="max-width: 900px;">
            <div class="card-header">
                <h3 class="card-title">Edit Assigned Inject</h3>
            </div>
            <div class="card-body">

                <div class="form-group">
                    <label for="event">Event</label>
                    <input class="form-control" id="event" disabled type="text" value="{{ event.name }}" />
                </div>

                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" id="subject" placeholder="Subject" name="subject" value="{{ inject.subject }}">
                </div>
                <div class="form-group">
                    <label for="when">When</label>
                    <input type="text" class="form-control" id="when" placeholder="When" name="when" value="{{ inject.when | localtime }}">
                </div>
                <div class="form-group">
                    <label for="duration">Duration (Minutes)</label>
                    <input type="number" class="form-control" id="duration" placeholder="Duration" name="duration" value="{{ inject.duration }}">
                </div>
                <div class="form-group">
                    <label for="points">Points Possible</label>
                    <input type="number" class="form-control" id="points" placeholder="Points" name="points" value="{{ inject.points }}">
                </div>


                <div class="form-group">
                    <label for="body">Body</label>
                    <textarea class="form-control" name="body" id="body" rows="15">{{ inject.body }}</textarea>
                </div>
                <div class="checkbox">
                        <input type="checkbox" class="form-control" id="late" name="late" data-toggle="toggle" data-on="Allow Late" data-off="Don't Allow Late" {{ "checked" if inject.allowlate }}>
                </div>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block styles %}
<link href="/static/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="/static/plugins/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="/static/plugins/moment/moment.min.js"></script>
    <script src="/static/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/plugins/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
<script>
    $(function () {
        $("form").validate();
        $("#when").datetimepicker(
            {
                format: 'Y-MM-DD HH:mm'
            }
        )
        $("#late").bootstrapToggle();
    })

</script>
{% endblock %}