{% set base_menu='injectscore' %}{% extends "layouts/default.html" %}

{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item active">
            Inject Scoring
        </li>
    </ol>
{% endblock %}

{% block content %}
<div class="content-center">
<div class="btn-group">
    <a href="{{ url_for('inject_score') }}" class="btn btn-default">Current/Future Events</a>
    <a href="{{ url_for('inject_score_past') }}" class="btn btn-default">Past Events</a>
</div>
<p></p>
<table class="table">
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.start }}</td>
                <td>{{ event.end }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ url_for('inject_score_event', event=event.id) }}" class="btn btn-primary" ><i class="fa fa-eye"></i> </a>
                        <a href="{{ url_for('inject_score_event_report', event=event.id) }}" class="btn btn-success" title="Report"><i class="fa fa-pie-chart"></i> </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/plugins/datatables/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block scripts %}
    <script src="/static/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/static/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script>
    $(function () {
       $('table').dataTable();
    });
    </script>
{% endblock %}