{% extends "layouts/default.html" %}

{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item">
            <a href="{{ url_for('inject_score') }}">Inject Scoring</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('inject_score_event', event=event.id) }}">{{ event.name }}</a>
        </li>
        <li class="breadcrumb-item active">
            {{ inject.subject }}
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="content-center">
    <div class="page-header">
        <h1 style="float:left;margin-top:0px;">{{ inject.subject }} <small>{{ inject.points }} points</small></h1>
        <div style="clear:both;"></div>
    </div>

    <div>{{ inject.body | markdown }}</div>

    <div>
        <h1>Submissions</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Team</th>
                <th>When</th>
                <th>Points</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for sub in inject.submissions %}
                <tr>
                    <td>{{ sub.team.name }}</td>
                    <td>{{ sub.when | localtime }}</td>
                    <td>{{ sub.points }} / {{ inject.points }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ url_for('inject_score_event_inject_response', event=inject.eventid, inject=inject.id, response = sub.id) }}"><i class="fa fa-eye"></i> </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>

{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/plugins/datatables/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block scripts %}
    <script src="/static/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/static/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script>
    $(function () {
       $('table').dataTable();
    });
    </script>
{% endblock %}
