{% set base_menu='injectscore' %}{% extends "layouts/default.html" %}

{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item">
            <a href="{{ url_for('inject_score') }}">Inject Scoring</a>
        </li>
        <li class="breadcrumb-item active">
            Report
        </li>
    </ol>
{% endblock %}

{% block content %}
<div class="content-center">
<table class="table">
    <thead>
        <tr>
            <th>Subject</th>
            <th>Possible Points</th>
            {% for team in teams %}
            <th>{{ team.name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for inject in injects %}
        <tr>
            <td>{{ inject.subject }}</td>
            <td>{{ inject.points }}</td>
            {% for team in teams %}
                <td>
                {{ get_max_score_for_team(team.id, inject.id) }}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Totals:</th>
            <th></th>
            {% for team in teams %}
            <th></th>
            {% endfor %}
        </tr>
    </tfoot>
</table>
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/plugins/datatables/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block scripts %}
    <script src="/static/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/static/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script>
    $(function () {
       $('table').dataTable({
           "footerCallback": function (row, data, start, end, display) {
               var api = this.api(), data;

               posstotal = api.column(1).data().reduce(function (a, b) {
                   return parseInt(a) + parseInt(b)
               }, 0)

               $(api.column(1).footer()).html(posstotal);

               {% for team in teams %}
                   teamscore = api.column({{ 1 + loop.index }}).data().reduce(function (a,b) {
                       return parseInt(a) + parseInt(b)
                   }, 0);

                   $(api.column({{ 1 + loop.index }}).footer()).html(teamscore);
               {% endfor %}
           }
       });
    });
    </script>
{% endblock %}