{% set base_menu='injectmanager' %}{% extends "layouts/default.html" %}

{% macro tree(list) -%}
    <ul>
        {% for item in list %}
        <li>
            <a href="javascript:tree({{ item.id }})">{{ item.name }}</a>
            {% if item.children.count() > 0 %}
                {{ tree(item.children) }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{%- endmacro %}

{% block content %}
<div class="row" style="margin: 0 15px; ">
    <div class="col-md-2">
        {{ tree(categories) }}
        <a id="btn_new_category" href="{{ url_for('injectmanager_addcategory') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Add Category</a>
    </div>
    <div class="col-md-10" id="inject_list">
        <p>Please select a category from the left.</p>
    </div>
</div>
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap4.css">
{% endblock %}

{% block scripts %}
    <script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap4.js"></script>

<script>
function tree(id) {
    location.hash = "#" + id;
    $("#inject_list").load("{{ url_for('ajax_injectmanager_list') }}?id="+id);
    $("#btn_new_category").attr("href", "{{ url_for('injectmanager_addcategory') }}?id=" + id)
}

$(function () {
    if (location.hash.length > 1) {
        var id = location.hash.substring(1);
        tree(id);
    }
});
</script>
{% endblock %}