{% extends "layout.html" %}

{% block content %}
{% include "admin/menu.html" %}
<div class="col-md-9">
    <form method="post">
        <div class="form-group">
            <label for="name">Team Name</label>
            <input type="text" class="form-control" id="name" placeholder="Team Name" name="name">
        </div>
        <div class="form-group">
            <label for="network">Network</label>
            <input type="text" class="form-control" id="network" placeholder="10.255.{3}.{4}" name="network">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="enabled">Enabled
            </label>
        </div>
        <button type="submit" class="btn btn-default">Add</button>
    </form>
</div>
{% endblock %}
