{% set base_menu='admin' %}{% set sub_menu='teams' %}{% extends "layouts/default.html" %}

{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item">
            <a href="{{ url_for('admin') }}">Admin</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('teams') }}">Teams</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('team', team=team.name) }}">{{ team.name }}</a>
        </li>
        <li class="breadcrumb-item active">
            Add Server
        </li>
    </ol>
{% endblock %}

{% block content %}
    <form method="post">
        <div class="card card-primary card-center">
            <div class="card-header">
                <h3 class="card-title">Add Server</h3>
            </div>
            <div class="card-body">

        <div class="form-group">
            <label for="server">Server</label>
            <select name="server" id="server" class="form-control">
                {% for server in servers %}
                <option value="{{ server.id }}">{{ server.name }}</option>
                {% endfor %}
            </select>
        </div>
        
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
