{% set base_menu='admin' %}{% set sub_menu='teams' %}{% extends "layouts/default.html" %}

{% block content %}
<div class="content-center">
    <div class="page-header">
        <h1 style="float:left;margin-top:0px;">{{ server.team.name }} - {{ server.server.name }} <small>{{ server.getIP() }}</small></h1>
        <div style="float:right">
            {% if server.server.enabled %}
            <span class="label label-success">Enabled</span>
            {% else %}
            <span class="label label-danger">Disabled</span>
            {% endif %}
        </div>
        <div style="clear:both;"></div>
    </div>
    <h4>Services</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Port</th>
                <th>Type</th>
                <th>Enabled</th>
            </tr>
        </thead>
        <tbody>
            {% for service in server.server.services %}
            <tr>
                <td><a href="{{ url_for('teamserverservice', teamid=server.team.name, serverid=server.server.id, serviceid=service.id) }}">{{ service.name }}</a></td>
                <td>{{ service.port }}</td>
                <td title="{{ service.type.tester }}">{{ service.type.name }}</td>
                <td>
                    {% if service.enabled %}
                    <span class="label label-success">Enabled</span>
                    {% else %}
                    <span class="label label-danger">Disabled</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
