{% set base_menu='admin' %}{% set sub_menu='teams' %}{% extends "layouts/default.html" %}

{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item">
            <a href="{{ url_for('admin') }}">Admin</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('teams') }}">Teams</a>
        </li>
        <li class="breadcrumb-item active">
            {{ team.name }}
        </li>
    </ol>
{% endblock %}

{% block content %}
<div class="content-center">
    <div class="page-header">
        <h1 style="float:left;margin-top:0px;">{{ team.name }} <small>{{ team.network }}</small></h1>
        <div style="float:right">
            {% if team.enabled %}
            <span class="label label-success">Enabled</span>
            {% else %}
            <span class="label label-danger">Disabled</span>
            {% endif %}
        </div>
        <div style="clear:both;"></div>
    </div>
    <h4>Servers</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>IP</th>
                <th>Enabled</th>
            </tr>
        </thead>
        <tbody>
            {% for server in team.servers %}
            <tr>
                <td><a href="{{ url_for('teamserver',teamid=team.name,serverid=server.server.id) }}">{{ server.server.name }}</a></td>
                <td>{{ server.getIP() }}</td>
                <td>
                    {% if server.server.enabled %}
                    <span class="label label-success">Enabled</span>
                    {% else %}
                    <span class="label label-danger">Disabled</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <a class="btn btn-default" href="{{ url_for('teamaddserver',team=team.name) }}">Add</a>
                </td>
            </tr>
        </tfoot>
    </table>

</div>
{% endblock %}
