{% set base_menu='admin' %}{% set sub_menu='users' %}{% extends "layouts/default.html" %}

{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item">
            <a href="{{ url_for('admin') }}">Admin</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('users') }}">Users</a>
        </li>
        <li class="breadcrumb-item active">
            New User
        </li>
    </ol>
{% endblock %}

{% block content %}
    <form method="post">
        <div class="card card-primary card-center">
            <div class="card-header">
                <h3 class="card-title">Add User</h3>
            </div>
            <div class="card-body">

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="team">Team</label>
                    <select class="form-control" name="team">
                        <option value="-1">No Team</option>
                        {% for team in teams %}
                            <option value="{{ team.id }}">{{ team.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="group">Group</label>
                    <select class="form-control" name="group">
                        <option value="1">User</option>
                        <option value="2">Room Judge</option>
                        <option value="3">Judge</option>
                        {% if current_user.group == 5 %}
                            <option value="4">Manager</option>
                            <option value="5">Admin</option>
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block scripts %}
<script>
    $("form").validate();
</script>
{% endblock %}