{% set base_menu='admin' %}{% set sub_menu='users' %}{% extends "layouts/default.html" %}

{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item">
            <a href="{{ url_for('admin') }}">Admin</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('users') }}">Users</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('adminuser', user=dbuser.username) }}">{{ dbuser.name }}</a>
        </li>
        <li class="breadcrumb-item active">
            Edit
        </li>
    </ol>
{% endblock %}

{% block content %}
    <form method="post">
        <div class="card card-primary card-center">
            <div class="card-header">
                <h3 class="card-title">Edit User</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" name="name"
                           value="{{ dbuser.name }}" required>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" name="username"
                           value="{{ dbuser.username }}" required>
                </div>
                {% if dbuser.group < current_user.group or current_user.group == 5 or current_user.id == dbuser.id %}
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="team">Team</label>
                    <select class="form-control" name="team">
                        <option value="-1">No Team</option>
                        {% for team in teams %}
                            {% if team.id == dbuser.team %}
                                <option value="{{ team.id }}" selected>{{ team.name }}</option>
                            {% else %}
                                <option value="{{ team.id }}">{{ team.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="group">Group</label>
                    <select class="form-control" name="group" {{ "disabled" if dbuser.group >= current_user.group }}>
                        {% if dbuser.group == 1 %}
                            <option value="1" selected>User</option>
                        {% else %}
                            <option value="1">User</option>
                        {% endif %}
                        {% if dbuser.group == 2 %}
                            <option value="2" selected>Room Judge</option>
                        {% else %}
                            <option value="2">Room Judge</option>
                        {% endif %}
                        {% if dbuser.group == 3 %}
                            <option value="3" selected>Judge</option>
                        {% else %}
                            <option value="3">Judge</option>
                        {% endif %}
                        {% if dbuser.id == current_user.id or current_user.id == 5 %}
                            {% if dbuser.group == 4 %}
                                <option value="4" selected>Manager</option>
                            {% else %}
                                <option value="4">Manager</option>
                            {% endif %}
                        {% endif %}
                        {% if current_user.group == 5 %}
                            {% if dbuser.group == 5 %}
                                <option value="5" selected>Admin</option>
                            {% else %}
                                <option value="5">Admin</option>
                            {% endif %}
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block scripts %}
<script>
    $("form").validate();
</script>
{% endblock %}