{% extends "layout.html" %}

{% block content %}
{% include "admin/menu.html" %}
<h2>Add server to {{ team.name }}</h2>
<div class="col-md-9">
    <form method="post">
        <div class="form-group">
            <label for="server">Server</label>
            <select name="server" id="server">
                {% for server in servers %}
                <option value="{{ server.id }}">{{ server.name }}</option>
                {% endfor %}
            </select>
        </div>
        
        <button type="submit" class="btn btn-default">Add</button>
    </form>
</div>
{% endblock %}
