<table class="table">
    <tr>
        <th></th>
        {% for server in servers %}
        {% for service in server.services %}
        {% if service.enabled %}
        <th>{{ server.name }}-{{ service.name }}</th>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </tr>
    {% for row in data %}
    <tr>
        {% for cell in row %}
        {% if cell == "up" %}
        <td class=""><span class="label label-success label-round">&nbsp;&nbsp;&nbsp;</span></td>
        {% elif cell == "" or cell == None %}
        <td class=""><span class="label label-default label-round">&nbsp;&nbsp;&nbsp;</span></td>
        {% elif cell == "down" %}
        <td class=""><span class="label label-danger label-round">&nbsp;&nbsp;&nbsp;</span></td>
        {% else %}
        <th>{{ cell }}</th>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>