{% set base_menu='admin' %}{% set sub_menu='service' %}{% extends "layouts/default.html" %}

{% block content %}
<div class="content-center">
    <div class="page-header">
        <h1>Service Types</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Tester</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
            <tr>
                <td><a href="{{ url_for('service', id=service.id) }}">{{ service.name }}</a></td>
                <td>{{ service.tester }}</td>
                <td><a href="{{ url_for('editservice',service=service.id) }}">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td><a href="{{ url_for('addservice') }}" class="btn btn-default">Add</a></td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/plugins/datatables/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block scripts %}
    <script src="/static/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/static/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script>
    $(function () {
       $('table').dataTable();
    });
    </script>
{% endblock %}